body{
    background-color: #3E5CA2;
}

#título{
    align-items: center;
    text-align: center;
    padding: 100px;
    padding-bottom: 0px;
    color:#F7CC46;
    font-weight: 900;
    
} 


h1{ 
    font-size: 54px;
    line-height: 100%;
    letter-spacing: 0.2em;

}

span{
    height: 80px;
    font-size: 80px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    text-shadow: 0px 4px 4px rgba(62, 92, 162, 0.25);
    line-height: 2;
}

#interrogacao{
    font-size: 120px;
}

.button{
    display: flex;
    justify-content: center;
}

button{
    font-size: 24px;
    line-height: 200%;
    border-radius: 20px;
    text-align: center;
    background-color: #CD3529;
    color: #FFFFFF;
    width: 200px;
    cursor: pointer;
    line-height: 48px;
    
}

button:hover{
    background-color: #F7CC46;
    color:black;
}